[submodule ".vim/pack/syntax/start/vim-javascript"]
	path = .vim/pack/syntax/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/pack/syntax/start/vim-jsx-pretty"]
	path = .vim/pack/syntax/start/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
